server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/library_management?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  thymeleaf:
    cache: false
  mvc:
    hiddenmethod:
      filter:
        enabled: true

app:
  seed:
    enabled: true